<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid" src="./assets/forgotpassword.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h4 class="display-4 colorLayer"><b>Forgot Password?</b></h4>
            <p>We'll get you back!.</p>
            <input type="email" id="email" class="form-control" [(ngModel)]="email" placeholder="Enter your registered email id!" autofocus><br>
            <button type="button" class="btn btn-xl" (click)="forgotPassword()">Send</button>
          </div>
        </div>
      </div>
    </div>
</section>